@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

 html{
    font-family: 'Space Grotesk'; /*Tipo de letra*/
 }

 *{
    margin: 0; /*dentro del borde*/
    padding: 0; /*fuera del borde*/
    box-sizing: border-box; /*Controlar el tamaño total de un elemento*/
 }
 body{
    background-color: lightgray;
 }
 .text{
    margin-right: 20px;
 }
 /*Menu de Navegacion*/

 .menuNavegacion{
    background-color: rgb(240, 178, 64);
    padding: 15px 0;
    
 }
 table input{
    border: none;
    background-color: whitesmoke;
    border-bottom: solid 1px;
    padding: 10px 10px;
    transition: all ease-in-out 0.3s;
 }
 
 table input:focus{
    transition: all ease-in-out 0.3s;
    background-color: rgb(240, 178, 64);
    border-radius: 15px;
    outline: none;
 }

 .right{
      transition: all ease-in-out 0.3s;
    padding: 5px 40px;
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: 10px 10px 30px rgb(77, 77, 77);
 }
 
  textarea{
    border: none;
    background-color: whitesmoke;
    border-bottom: solid 1px;
    padding: 10px 10px;
 }
 .enviar{
    border: none;
    background-color: whitesmoke;
    font-size: larger;
    transition: all ease-in-out 0.3s;
 }
 .enviar:hover{
    transition: all ease-in-out 0.3s;
    font-size:medium;
    border: solid 1px;
    padding: 5px;
    border-radius: 5px;
 }
 .enviar:active{
    transition: all ease-in-out 0.3s;
    background-color:rgb(240, 178, 64) ;
 }

.navegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.navegacion .fa-bars{
    display: none;
}
.menu{
    display: flex;
    gap: 2rem;
    margin-left: 20px;
}
.menu li{
    list-style: none;
}
.menu a{
    transition: all ease-in-out 0.3s;
text-decoration: none;
color: black;
}
.inicio{
    background-color: whitesmoke;
    padding: 9px;
    border-radius: 22px 14px;
}
.menu a:hover{
    transition: all ease-in-out 0.3s;
    background-color: whitesmoke;
    padding: 9px;
    border-radius: 22px 14px; 
}
.conteiner{
    padding: 40px;
}
.grid2{
    display: grid;
    grid-template-columns: 30% 70%;
}
.left{
    background-color: rgb(240, 178, 64) ;
    padding: 10px 10px;
    border-radius: 15px;
    padding-right: 0;
    margin-top: 60px;
}
.grid{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color:  rgb(240, 178, 64);
    border-radius: 0 15px 0 15px;
}
